.filter-button-container {
  align-items: center;
  background-color: rgba(80, 79, 79, 0.61);
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 0.6em;
  padding: 0.3em;
}

.filter-button-text {
  font-size: 0.8em;
}

.filter-button-remover {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  font-size: 0.8em;
}

.remove-img {
  width: 1em;
}
