.app-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.background-img {
  background-color: black;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.table-wrapper {
  background-color: rgba(44, 44, 44, 0.89);
  border: rgba(255, 253, 224, 0.801) 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}

footer {
  font-size: 0.9em;
  padding: 1.2vw;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}

select {
  cursor: pointer;
}
